body {
  height: 90vh;
  width: 90vw;
  padding-top: 50px;
  padding-left: 100px;
}

.title {
  font-size: 2rem;
  margin-bottom: 20px;
}

.content {
  display: flex;
  gap: 20px;
  height: 70vh;
  width: 60vw;
}

.grids {
  gap: 20px;
  border-style: hidden;
  display: grid;
  grid-template-columns: repeat(3, 200px);
  grid-template-rows: repeat(3, 200px);
}

.grids .cell {
  border-color: #e1a0f9;
  border-style: outset;

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
}

input.invalid {
  border-color: red;
}

.interface {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* for some unknwon reason the exact same text would take up
      different space (same font style, size, margin...)
      so this is to handle this */
label.extra-space {
  margin-right: 5px;
}
